<div class="col-lg-12">
    <div class="profile-area">
        <div class="container">
            <div class="col-md-12">
                <div class="img1"><img src="~/imgs/a1.jpg" /></div>
                <div class="img2"><img src="~/imgs/1.jpeg" /></div>
                <div class="main-text">
                    <h2>Safa BAL</h2>
                    <p>Loremasfka sfaskfaskfaskfasf asfkas asfasf kafsa afskfakfkasf asfkasf kasfkkaskfas asfk askfkasfkaskfasfkasfkaskfa afskfask fas kafk asfk afskasfkkasf afsa asf.</p>
                </div>
                <div class="socials">
                    <i class="fa fa-facebook"></i>
                    <i class="fa fa-linkedin"></i>
                    <i class="fa fa-twitter"></i>
                    <i class="fa fa-youtube"></i>
                </div>
            </div>
        </div>
    </div>
</div>
