@model IEnumerable<MyBlog.tbl_kategori>

<div class="content">
    <ul>
        @foreach (var item in Model)
        {
            <li><a href="#">- @item.Adi (@item.tbl_makale.Count)</a></li>
        }
    </ul>
</div>                                  