@{
    Layout = null;
}


<form id="search_form" name="gs" method="post" action="/Home/Ara">
    <input type="text" name="content" class="searchText" placeholder="Aramak için bir şeyler yaz..." autocomplete="on">
</form>